<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/345d42b9-5ca1-4189-a6d8-a8c32fe22d98/resourceGroups/BlazorExample/providers/Microsoft.Web/sites/BlazorApp220230112184211PIPES</ResourceId>
    <ResourceGroup>BlazorExample</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blazorapp220230112184211pipes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d2b095f0-1fcd-4edc-8462-505273b10b07</ProjectGuid>
    <PublishUrl>https://blazorapp220230112184211pipes.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlazorApp220230112184211PIPES</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>