@page "/about"

<h3>About</h3>

This application is for demonstration purposes and learning purposes.

<br />
<br />

<h3>Technologies used:</h3>
<ul>
    <li>
        Azure pipelines for CI/CD
    </li>
    <li>
        Azure Key Vault (For API)
    </li>
    <li>
        Blazor
    </li>
    <li>
        bUnit for unit testing Blazor
    </li>
    <li>
        Entity framework / .net API / MSSQL
    </li>
    <li>
        <a href="https://github.com/DaneHague/blazorWeb" target="_blank">Github Code</a>
    </li>
</ul>
@code {

}
