
<h3>@currName</h3>

@code {
    [Parameter]
    public string currName { get; set; }
    [Parameter]
    public string currStackSize { get; set; }
    [Parameter]
    public string currMaxStackSize { get; set; }
}
