@page "/currency"
@inherits CurrencyContainer

<h3>Currency</h3>

<button class="btn btn-primary">Update Currency</button>

<CurrencyContainer currName="trololol" currStackSize="" currMaxStackSize="">

</CurrencyContainer>


@code {
    
}
